.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer img {
    max-width: 100px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}